{
  "parserOptions": {
   "ecmaVersion": 8
  },
  "rules": {
    "no-console": 2,
    "space-infix-ops": 2,
    "no-trailing-spaces": 2,
    "linebreak-style": 0,
    "no-var": [1],
    "one-var": [2, { "var": "always", "let": "never", "const": "never" }],
    "semi": 2,
    "comma-dangle": [2, "always-multiline"],
    "indent": 0,

    "max-len": 1,
    "func-names": 1,
    "no-use-before-define": 1,
    "class-methods-use-this": 1,
    "no-mixed-operators": 1,
    "no-shadow": 1,
    "guard-for-in": 1,
    "no-restricted-syntax": 1,
    "valid-typeof": 1,
    "no-param-reassign": 1,
    "no-unused-vars": 1,
    "import/no-extraneous-dependencies": 1
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "extends": "airbnb"
}
