<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>XLG Testnet Faucet</title> 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
	<script src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js'></script>
	<link rel="shortcut icon" type="image/png" href="logo.png"/>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head>

<body>
	<div class="ribbon">
		<div class="container">
			
			<div class="card" style="max-width:600px;">
				<div class="card-block">
						<img src="ledgerium_banner.svg" style="width:35%"/>
					<br>
					<form class="form-register" action="/" method="post" id="requestTokenForm">
						<span style="margin:10px"></span><input type="text" id="address" name="address" placeholder="address" value="" /><span id="addressCheck" style="margin:10px"></span>
						<br/>
                        
						<div class="row">
							<div class="col-10 offset-1">
                                <br>
								<p><b>Balance</b>: </p> <p id="xlgBalance"></p>
							</div>				
					</div>
					<br>
                    <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI" data-callback="enableRequest"></div> 
					<br>
					  </div>
					Request <select id="amountSelector" style="width:25%">
						<option value=1>1</option>
						<option value=2>2</option>
						<option value=3>3</option>
					  </select> XLG <br><button style="width:25%;background-color:#1F3160" type="submit" class="btn btn-secondary" id="requestBtn">Submit</button>
					<a id="txUrl" target="_blank" style="display: block;margin-top: 10px;"></a>
				</form>
				<br>
			</div>

		</div>
		<small><span id="requestLimit">Limit:  XLG</span></small>

	</div>
</div>
	<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
	<script src="main.js"></script>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" >
		Launch demo modal
	</button> -->
	
	<!-- Modal -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Transaction Receipt</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
		

				<div class="modal-body">
					<strong> Amount: </strong><span id="quantity"></span><br>
					<strong> To: </strong><span id="to"></span><br>
					<strong> From: </strong><span id="from"></span><br>
					<strong> Gas: </strong><span id="gasUsed"></span><br>
					<strong> Transaction Hash: </strong><small><span id="transactionHash"></span></small><br>
					<strong> Block #: </strong><span id="blockNumber"></span><br>
					<strong> Block Hash: </strong><small><span id="blockHash"></span></small><br>

				</div>
				<div class="modal-footer">
					<button type="button" style="width:25%;background-color:#1F3160" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

</body>

</html>

